:root {
    --primary-blue: #8CB0CB;
    --background-black: #151515;
    --background-active-blue: #4A5961;
    --background-inactive-blue: #354148;
    --voted-green: #33E850;
    --error-red: #D85644;
}

body {
    background-color: var(--background-black);
    color: var(--primary-blue);
}

.text {
    color: var(--primary-blue);
}

label {
    color: var(--primary-blue);
}

table {
    color: var(--primary-blue);
}

strong {
    color: var(--primary-blue);
}

input {
    background-color: var(--background-black);
    border-color: var(--primary-blue);
    color: var(--primary-blue);
}

.button {
    color: var(--primary-blue);
    background-color: var(--background-inactive-blue);

    align-self: center;

    border: #8CB0CB;
    border-radius: 10px;

    font-size: large;

    padding: 5px 1em;
    margin: .5em;
}

.button:active {
    background-color: var(--background-active-blue);
}

.create-button {
    margin-top: 30%;
}

.vote-button {
    border-radius: 5px;
}

.icon {
    display: flex;
    margin-top: 0;
    position: absolute;
    left: calc(50% - 24px);

    z-index: -42;
}

.session-id-input {
    /*left: 50%;*/
}

.create-session-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    position: absolute;
    width: 42%;
    left: calc(50% - 21%);
    top: 10%;
}