:root {
    --background: hsl(0, 0%, 8%);
    --color: 206, 38%, 67%;
    --primary-color: hsl(var(--color));
    --text-inactive-blue: hsla(var(--color), 30%);
    --bg-active-blue: hsla(var(--color), 35%);
    --bg-inactive-blue: hsla(var(--color), 25%);
    --bg-input: transparent;
    --voted-green: hsl(130, 80%, 55%);
    --error-red: hsl(7, 65%, 56%);
}

html, body {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}

body {
    background-color: var(--background);
    font-family: "Aldrich", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr auto 3fr auto 3fr;
    grid-template-rows: 5rem 5rem 20rem auto;
    align-items: start;
    justify-items: center;
    gap: 5rem 1rem;
    width: 100vw;
    height: 100vh;
    margin-top: 0.5rem;
}

.grid-item-header {
    grid-column: 3;
    grid-row: 1;
    position: relative;
}

.grid-item-members {
    grid-column: 5;
    grid-row: 1 / 5;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: center;
    /*border-right: 1px solid var(--primary-color);*/
    max-height: 100%;
    /*margin-left: 0;
    margin-right: auto;*/
    margin-left: auto;
    margin-right: 1vw;

}

.grid-item-main {
    grid-column: 3;
    grid-row: 2;

    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1rem;
}

.result-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    justify-items: center;
    width: 100%;
    gap: 1rem;
}

.controls-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.copy-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.session-id-container {
    position: relative;
}

.members-title {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--bg-inactive-blue);
    /*border-bottom: 1px solid var(--primary-color);*/
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 5px;
    flex-shrink: 0;
}

.members-list {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow-y: auto;
    scroll-behavior: vertical;
    height: 90vh;
}

.members-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
}

.members-list-item div.card {
    margin-left: auto;
    margin-right: 0;
}

.current-user {
    background-color: var(--bg-inactive-blue);
    /*border: 2px solid var(--text-inactive-blue);*/
}

.current-user div.card {
    background-color: var(--bg-active-blue)
}


/*------------------------------------------------ UI Elements ------------------------------------------------*/

.button {
    font-family: inherit;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--bg-inactive-blue);
    color: var(--primary-color);
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.button:focus {
    outline: none;
}

.button:hover {
    background-color: var(--bg-active-blue);
}

.button:active {
    box-shadow: 5px 5px 5px var(--text-inactive-blue) inset
}

.button:disabled {
    border: 1px solid var(--text-inactive-blue);
    background-color: var(--bg-inactive-blue);
    color: var(--text-inactive-blue);
    box-shadow: none;
}

.button-big {
    font-size: 2em;
    padding: 7px 15px 5px 15px;
    height: 45px;
}

.button-small {
    font-size: 1.5em;
    padding: 7px 15px 5px 15px;
}

.copy-link-button {
    background: none;
    border: 0;
    margin-right: 1rem;
}

.copy-link-button rect {
    stroke: var(--primary-color);
    stroke-width: 2;
}

.copy-link-button:active rect {
    stroke-width: 3;
}

.copy-link-button:focus {
    outline: none;
}

.text {
    color: var(--primary-color);
}

.text-regular {
    font-size: 1.5em;
}

.votes-count {
    color: var(--voted-green);
}

.text-small {
    font-size: 1em;
    color: var(--text-inactive-blue);
}

.username {
    padding-top: 5px;
    font-size: 1.1em;
    width: 15rem;
    overflow: hidden;
    margin-right: 5px;
}

#logo {
    fill: var(--primary-color);
}

.vote-indicator {
    padding-right: 10px;
    padding-left: 7px;
}

.vote-no {
    fill: var(--bg-active-blue);
}

.vote-yes {
    fill: var(--voted-green);
}

.card {
    font-family: inherit;
    width: 4rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: var(--bg-inactive-blue);
    color: var(--primary-color);
    font-size: 1.5em;
    text-align: center;
    line-height: 2.8rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-user-select: none;
}

.card-button:hover {
    background-color: var(--bg-active-blue);
}

.card-button:active {
    border: 1px solid var(--primary-color);
    background-color: var(--bg-active-blue);
}

.card-inactive {
    width: 4rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: var(--bg-inactive-blue);
    color: var(--primary-color);
    font-size: 1.5em;
    text-align: center;
    line-height: 2.8rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--bg-inactive-blue);
    color: var(--text-inactive-blue);
}

.card-chosen {
    width: 4rem;
    height: 2.5rem;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
    line-height: 2.8rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--bg-inactive-blue);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.timer {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: 0;
}

.result {
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    align-items: center;
}

.result div.text {
    margin-right: 0.5rem;
}

.error {
    border: 2px solid var(--error-red);
    border-radius: 10px;
    color: var(--error-red);
    padding: 11px 15px 10px 15px;
}

.input-container {
    display: flex;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.input-container button {
    display: flex;
    position: relative;
    left: -6px;
}

.input-container input {
    display: flex;
    position: relative;
    left: 6px;
    height: 45px;
}

textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: inherit;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--bg-input);
    font-size: 1.5em;
    padding: 11px 15px 10px 15px;
    width: 100%;
    color: var(--primary-color);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    resize: vertical;
    min-height: 4.1rem;
    max-height: 23vh;
}

textarea:focus {
    outline: none;
}

input[type=text] {
    font-family: inherit;
    border: 2px solid var(--primary-color);
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--bg-input);
    font-size: 1.5em;
    padding: 11px 25px 10px 15px;
    width: 12rem;
    color: var(--primary-color);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input[type=text]:focus {
    outline: none;
}

::placeholder {
    color: var(--text-inactive-blue);
    opacity: 1; /* Firefox */
}

/*-----------------------------------------------------------------------------------*/

#relativeSVG-fart {
    position: absolute;
    right: 60px;
    top: 33px;
}

.fart {
    opacity: 0;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    fill: var(--primary-color);
}

.fart-cloud {
    fill: var(--bg-inactive-blue);
}

#session-id-copy {
    position: absolute;
    left: 0px;
    opacity: 0;
    z-index: -1;
}
